@import "mixins"
@import "./_colors"


.contactBackground
  @include pageSections
  background-color: $primaryPurple
  .navLinks
    color: #ffffff

.contactHeader
  padding-top: 10vh


.contactContent
  padding: 0 10vw 0 10vw
  h2
    color: #ffffff
    margin: 0
    display: inline


  .contactContainer
    position: absolute
    top: 40%
    transform: translateY(-50%)
    width: 80%
    @media (max-width: #{$tablet-width})
      top: 55%




    h3, h4, h5, p
      color: #ffffff

    h3
      font-size: 1.8em
      margin-bottom: .5em
      @media (max-width: #{$tablet-width})
        font-size: 1em


    h4
      margin-top: 0
      font-size: 1.5em
      @media (max-width: #{$tablet-width})
        font-size: 1em

      a
        border-bottom: $secondaryPurple solid 6px
        &:hover
          border-bottom: $primaryBlue solid 6px

    p
      margin-bottom: 8px


    li
      list-style-type: none

    ul
      padding-left: 0
      @media (max-width: #{$tablet-width})
        margin: 0


.mb2
  margin-bottom: 40px !important
  @media (max-width: #{$tablet-width})
    margin-bottom: 20px !important
    font-size: .8em


.contactColLeft
  float: left
  padding-right: 15vw
  display: inline-block
  @media (max-width: #{$tablet-width})
    width: 100%


.contactColRight
  //float: right
  display: inline-block
  @media (max-width: #{$tablet-width})
    float: left
    margin-top: -16px

