@import "mixins"
@import "./_colors"


.contactBackground
  @include pageSections
  background-color: $primaryPurple
  .navLinks
    color: #ffffff

.contactContent
  padding: 0 10vw 0 10vw
  h2
    color: #ffffff
    padding-top: 10vh
    margin: 0

  .contactContainer
    position: absolute
    top: 40%
    transform: translateY(-50%)



    h3, h4, h5, p
      color: #ffffff

    h3
      font-size: 2em

    h4
      margin-top: 0
      font-size: 1.5em
      a
        border-bottom: $secondaryPurple solid 6px
        &:hover
          border-bottom: $primaryBlue solid 6px

    p
      margin-bottom: 8px


    li
      list-style-type: none

    ul
      padding-left: 0

.mb2
  margin-bottom: 40px !important

.contactColLeft
  float: left
  padding-right: 15vw

.contactColRight
  float: right
