@import "mixins"
@import "./_colors"

.homeHeader
  padding: 10vh 10vw 0 10vw

.homeBackgroundImage
  @include pageSections
  background-image: url("https://live.staticflickr.com/65535/50131247388_7b838b86ec_h.jpg")
  background-size: cover
  background-position: center

.homeBackgroundOverlay
  background: linear-gradient(90deg, rgba(73,128,147,0.9) 0%, rgba(95,44,130,0.9) 100%)
  width: 100%
  height: 100%

  a
    &:hover
      border-bottom: #ffffff solid 6px !important

    .active
      &:hover
        border-bottom: $secondaryPurple solid 6px !important

  .homeTextWrapper
    top: 50%
    transform: translateY(-50%)
    padding: 0 10vw 0 10vw
    position: absolute
    h1
      font-size: 8em
      color: #ffffff
      margin: 0
      @media (max-width: #{$tablet-width})
        font-size: 4.5em

    h3
      font-size: 2em
      color: #ffffff
      margin-top: .5em
      margin-bottom: 0
      @media (max-width: #{$tablet-width})
        font-size: 1.2em

    h5
      font-size: 1em
      color: #ffffff
      margin-top: 2em
      margin-bottom: 0
      width: 40%
      @media (max-width: #{$tablet-width})
        font-size: .8em
        width: 100%







