@import "./_colors"

.navLinks
  position: absolute
  list-style-type: none
  display: inline
  color: #ffffff
  bottom: 10%
  padding: 0 10vw 0 10vw
  li
    float: left
    padding: 20px
    &:first-child
      padding-left: 0
    a
      margin: 0
      font-size: 1.5em
      font-family: Josefin Sans, sans-serif
      font-weight: bold
      &:hover
        cursor: pointer
        border-bottom: $primaryBlue solid 6px

    .active
      border-bottom: $secondaryPurple solid 6px
      &:hover
        cursor: default
        border-bottom: $secondaryPurple solid 6px






