@import "./_colors"
@import "mixins"

.navLinks
  position: absolute
  list-style-type: none
  display: inline
  color: #ffffff
  bottom: 10%
  padding: 0 10vw 0 10vw

  li
    float: left
    padding: 20px
    &:first-child
      padding-left: 0
    a
      margin: 0
      font-size: 1.5em
      font-family: Josefin Sans, sans-serif
      font-weight: bold
      &:hover
        cursor: pointer
        border-bottom: $primaryBlue solid 6px

    .active
      border-bottom: $secondaryPurple solid 6px
      &:hover
        cursor: default
        border-bottom: $secondaryPurple solid 6px
  @media (max-width: #{$tablet-width})
    display: none

.toggleButton
  display: none
  flex-direction: column
  justify-content: space-between
  height: 24px
  width: 36px
  background: transparent
  border: none
  padding: 0
  cursor: pointer
  box-sizing: border-box
  &:focus
    outline: none
  @media (max-width: #{$tablet-width})
    display: flex

.toggleButtonLine
  width: 36px
  height: .3em
  background: white

.navWrapper
  float: right
  display: inline

.navDrawer
  height: 100%
  background: rgba(0, 0, 0, .9)
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 200
  ul
    color: white
    position: relative
    top: 50%
    text-align: center
    transform: translateY(-50%)
    list-style: none
    padding: 0
    li
      padding: 1em 0
    a
      margin: 0
      font-size: 1.5em
      font-family: Josefin Sans, sans-serif
      font-weight: bold
      &:hover
        cursor: pointer
        border-bottom: $primaryBlue solid 6px

    .active
      border-bottom: $secondaryPurple solid 6px
      &:hover
        cursor: default
        border-bottom: $secondaryPurple solid 6px




