@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&family=Lato:wght@300;400;900&display=swap')
@import './_homecomponent'
@import "./_navcomponent"
@import "./_codecomponent"
@import "./_colors"

html
  scroll-snap-type: y mandatory

h1, h2, h3, h4
  font-family: Josefin Sans

h5, p
  font-family: lato

h2
  font-size: 3em

h4
  font-size: 1.5em



